<div class="container">
  <div class="centered-container">
    <form [formGroup]="form" class="fx-layout-column">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="form.controls.username.invalid && form.controls.username.touched">
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.controls.password.invalid && form.controls.password.touched">
          Password is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput type="text" formControlName="firstname" />
        <mat-error *ngIf="form.controls.firstname.invalid && form.controls.firstname.touched">
          Firstname is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput type="text" formControlName="lastname" />
        <mat-error *ngIf="form.controls.lastname.invalid && form.controls.lastname.touched">
          Lastname is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="text" formControlName="phone" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="onSubmit()">Sign Up
      </button>
    </form>
    <mat-error *ngIf="errorMessage" class="error">
      <mat-card-content class="fx-flex-align--center">Problem in the server. Please try again later!</mat-card-content>
    </mat-error>
    <mat-error class="error" *ngIf="this.form['controls']
  .username.hasError('alreadyExist')">
      *this username already exists in our database</mat-error>
  </div>
</div>