<div class="container">
  <p>A car rental application with c# and angular for the last project for the Coding Factory 2023!</p>
  <p>Its a rest API app with SQL Server Management Studio Management Studio 19 Database c# .NET for backend and angular
    framework for the frontend.</p>
  <p>The project has many more things to complete like online payment and a Admin profile to control every action.</p>
  <p>For more details about the project you will find in my Github in ReadMe page.
  </p>
  <p>Thank you for the support in my start as Web Engineer!</p>
  <div class="contact">
    <a class="link" href="https://github.com/NickTzo"><mat-icon>alternate_email</mat-icon>GitHub</a>
    <br>
    <a class="link" href="https://linkedin.com/in/nick-tzortzis-1b9103259"><mat-icon>email</mat-icon>LinkedIn</a>
  </div>
</div>