body {
  background-image: url("./assets/home-page.jpg");
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: large;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}